<h2>Bienvenue sur la page Home</h2>

<%= link_to 'Créer votre mini-site web ICI',  new_user_registration_path %>
<%= link_to 'Connexion',  new_user_session_path %>
<%= link_to 'Déconnexion',  destroy_user_session_path, method: :delete %>